.collection-preview {
  width: 100%;

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    max-width: 10rem;
  }

  .preview {
    width: 100%;
    display: flex;
    gap: .2rem;
    margin-bottom: 2rem;
  }
}